{"swagger":"2.0","info":{"description":"Create APIs at the speed of your thoughts","version":"1.0.0","title":"NocoDB","contact":{}},"host":"nocodb-docker.nhnjnfeqj105u.us-east-1.cs.amazonlightsail.com","basePath":"/","tags":[{"name":"common"},[{"name":"CtCorrelations","description":"Everything about your CtCorrelations"}],[{"name":"CtgConditions","description":"Everything about your CtgConditions"}],[{"name":"CtgConditionsBelongsToQmVariables","description":"Everything about belongs to relation"}],[{"name":"CtgInterventionOtherNames","description":"Everything about your CtgInterventionOtherNames"}],[{"name":"CtgInterventions","description":"Everything about your CtgInterventions"}],[{"name":"CtgInterventionsBelongsToQmVariables","description":"Everything about belongs to relation"}],[{"name":"DirectusActivity","description":"Everything about your DirectusActivity"}],[{"name":"DirectusActivityHasManyDirectusRevisions","description":"Everything about has many relation"}],[{"name":"DirectusCollections","description":"Everything about your DirectusCollections"}],[{"name":"DirectusCollectionsHasManyDirectusCollections","description":"Everything about has many relation"}],[{"name":"DirectusCollectionsBelongsToDirectusCollections","description":"Everything about belongs to relation"}],[{"name":"DirectusDashboards","description":"Everything about your DirectusDashboards"}],[{"name":"DirectusDashboardsHasManyDirectusPanels","description":"Everything about has many relation"}],[{"name":"DirectusDashboardsBelongsToDirectusUsers","description":"Everything about belongs to relation"}],[{"name":"DirectusFields","description":"Everything about your DirectusFields"}],[{"name":"DirectusFiles","description":"Everything about your DirectusFiles"}],[{"name":"DirectusFilesHasManyDirectusSettings","description":"Everything about has many relation"}],[{"name":"DirectusFilesHasManyDirectusSettings","description":"Everything about has many relation"}],[{"name":"DirectusFilesHasManyDirectusSettings","description":"Everything about has many relation"}],[{"name":"DirectusFilesBelongsToDirectusFolders","description":"Everything about belongs to relation"}],[{"name":"DirectusFilesBelongsToDirectusUsers","description":"Everything about belongs to relation"}],[{"name":"DirectusFilesBelongsToDirectusUsers","description":"Everything about belongs to relation"}],[{"name":"DirectusFolders","description":"Everything about your DirectusFolders"}],[{"name":"DirectusFoldersHasManyDirectusFiles","description":"Everything about has many relation"}],[{"name":"DirectusFoldersHasManyDirectusFolders","description":"Everything about has many relation"}],[{"name":"DirectusFoldersHasManyDirectusSettings","description":"Everything about has many relation"}],[{"name":"DirectusFoldersBelongsToDirectusFolders","description":"Everything about belongs to relation"}],[{"name":"DirectusMigrations","description":"Everything about your DirectusMigrations"}],[{"name":"DirectusNotifications","description":"Everything about your DirectusNotifications"}],[{"name":"DirectusNotificationsBelongsToDirectusUsers","description":"Everything about belongs to relation"}],[{"name":"DirectusNotificationsBelongsToDirectusUsers","description":"Everything about belongs to relation"}],[{"name":"DirectusPanels","description":"Everything about your DirectusPanels"}],[{"name":"DirectusPanelsBelongsToDirectusDashboards","description":"Everything about belongs to relation"}],[{"name":"DirectusPanelsBelongsToDirectusUsers","description":"Everything about belongs to relation"}],[{"name":"DirectusPermissions","description":"Everything about your DirectusPermissions"}],[{"name":"DirectusPermissionsBelongsToDirectusRoles","description":"Everything about belongs to relation"}],[{"name":"DirectusPresets","description":"Everything about your DirectusPresets"}],[{"name":"DirectusPresetsBelongsToDirectusRoles","description":"Everything about belongs to relation"}],[{"name":"DirectusPresetsBelongsToDirectusUsers","description":"Everything about belongs to relation"}],[{"name":"DirectusRelations","description":"Everything about your DirectusRelations"}],[{"name":"DirectusRevisions","description":"Everything about your DirectusRevisions"}],[{"name":"DirectusRevisionsHasManyDirectusRevisions","description":"Everything about has many relation"}],[{"name":"DirectusRevisionsBelongsToDirectusActivity","description":"Everything about belongs to relation"}],[{"name":"DirectusRevisionsBelongsToDirectusRevisions","description":"Everything about belongs to relation"}],[{"name":"DirectusRoles","description":"Everything about your DirectusRoles"}],[{"name":"DirectusRolesHasManyDirectusPermissions","description":"Everything about has many relation"}],[{"name":"DirectusRolesHasManyDirectusPresets","description":"Everything about has many relation"}],[{"name":"DirectusRolesHasManyDirectusUsers","description":"Everything about has many relation"}],[{"name":"DirectusSessions","description":"Everything about your DirectusSessions"}],[{"name":"DirectusSessionsBelongsToDirectusUsers","description":"Everything about belongs to relation"}],[{"name":"DirectusSettings","description":"Everything about your DirectusSettings"}],[{"name":"DirectusSettingsBelongsToDirectusFiles","description":"Everything about belongs to relation"}],[{"name":"DirectusSettingsBelongsToDirectusFiles","description":"Everything about belongs to relation"}],[{"name":"DirectusSettingsBelongsToDirectusFiles","description":"Everything about belongs to relation"}],[{"name":"DirectusSettingsBelongsToDirectusFolders","description":"Everything about belongs to relation"}],[{"name":"DirectusUsers","description":"Everything about your DirectusUsers"}],[{"name":"DirectusUsersHasManyDirectusDashboards","description":"Everything about has many relation"}],[{"name":"DirectusUsersHasManyDirectusFiles","description":"Everything about has many relation"}],[{"name":"DirectusUsersHasManyDirectusFiles","description":"Everything about has many relation"}],[{"name":"DirectusUsersHasManyDirectusNotifications","description":"Everything about has many relation"}],[{"name":"DirectusUsersHasManyDirectusNotifications","description":"Everything about has many relation"}],[{"name":"DirectusUsersHasManyDirectusPanels","description":"Everything about has many relation"}],[{"name":"DirectusUsersHasManyDirectusPresets","description":"Everything about has many relation"}],[{"name":"DirectusUsersHasManyDirectusSessions","description":"Everything about has many relation"}],[{"name":"DirectusUsersBelongsToDirectusRoles","description":"Everything about belongs to relation"}],[{"name":"DirectusWebhooks","description":"Everything about your DirectusWebhooks"}],[{"name":"DlsdSupplementIngredients","description":"Everything about your DlsdSupplementIngredients"}],[{"name":"DsldSupplementProducts","description":"Everything about your DsldSupplementProducts"}],[{"name":"LoincCore","description":"Everything about your LoincCore"}],[{"name":"MeddraAllIndications","description":"Everything about your MeddraAllIndications"}],[{"name":"MeddraAllSideEffects","description":"Everything about your MeddraAllSideEffects"}],[{"name":"MeddraFreq","description":"Everything about your MeddraFreq"}],[{"name":"Media","description":"Everything about your Media"}],[{"name":"Migrations","description":"Everything about your Migrations"}],[{"name":"Nutrients","description":"Everything about your Nutrients"}],[{"name":"OaAccessTokens","description":"Everything about your OaAccessTokens"}],[{"name":"OaAccessTokensBelongsToOaClients","description":"Everything about belongs to relation"}],[{"name":"OaAccessTokensBelongsToOaClients","description":"Everything about belongs to relation"}],[{"name":"OaAccessTokensBelongsToWpUsers","description":"Everything about belongs to relation"}],[{"name":"OaAuthorizationCodes","description":"Everything about your OaAuthorizationCodes"}],[{"name":"OaAuthorizationCodesBelongsToOaClients","description":"Everything about belongs to relation"}],[{"name":"OaAuthorizationCodesBelongsToWpUsers","description":"Everything about belongs to relation"}],[{"name":"OaClients","description":"Everything about your OaClients"}],[{"name":"OaClientsHasManyOaAccessTokens","description":"Everything about has many relation"}],[{"name":"OaClientsHasManyQmAggregateCorrelations","description":"Everything about has many relation"}],[{"name":"OaClientsHasManyQmApplications","description":"Everything about has many relation"}],[{"name":"OaClientsHasManyOaAccessTokens","description":"Everything about has many relation"}],[{"name":"OaClientsHasManyOaAuthorizationCodes","description":"Everything about has many relation"}],[{"name":"OaClientsHasManyOaRefreshTokens","description":"Everything about has many relation"}],[{"name":"OaClientsHasManyQmCollaborators","description":"Everything about has many relation"}],[{"name":"OaClientsHasManyQmCommonTags","description":"Everything about has many relation"}],[{"name":"OaClientsHasManyQmConnections","description":"Everything about has many relation"}],[{"name":"OaClientsHasManyQmConnectors","description":"Everything about has many relation"}],[{"name":"OaClientsHasManyQmConnectorImports","description":"Everything about has many relation"}],[{"name":"OaClientsHasManyQmCorrelations","description":"Everything about has many relation"}],[{"name":"OaClientsHasManyQmCorrelationCausalityVotes","description":"Everything about has many relation"}],[{"name":"OaClientsHasManyQmCorrelationUsefulnessVotes","description":"Everything about has many relation"}],[{"name":"OaClientsHasManyQmMeasurements","description":"Everything about has many relation"}],[{"name":"OaClientsHasManyQmMeasurementExports","description":"Everything about has many relation"}],[{"name":"OaClientsHasManyQmMeasurementImports","description":"Everything about has many relation"}],[{"name":"OaClientsHasManyOaRefreshTokens","description":"Everything about has many relation"}],[{"name":"OaClientsHasManyQmSourcePlatforms","description":"Everything about has many relation"}],[{"name":"OaClientsHasManyQmStudies","description":"Everything about has many relation"}],[{"name":"OaClientsHasManyQmThirdPartyCorrelations","description":"Everything about has many relation"}],[{"name":"OaClientsHasManyQmTrackingReminders","description":"Everything about has many relation"}],[{"name":"OaClientsHasManyQmTrackingReminderNotifications","description":"Everything about has many relation"}],[{"name":"OaClientsHasManyQmUserClients","description":"Everything about has many relation"}],[{"name":"OaClientsHasManyQmUserStudies","description":"Everything about has many relation"}],[{"name":"OaClientsHasManyQmUserTags","description":"Everything about has many relation"}],[{"name":"OaClientsHasManyQmUserVariables","description":"Everything about has many relation"}],[{"name":"OaClientsHasManyQmUserVariableClients","description":"Everything about has many relation"}],[{"name":"OaClientsHasManyQmVariables","description":"Everything about has many relation"}],[{"name":"OaClientsHasManyQmVariableUserSources","description":"Everything about has many relation"}],[{"name":"OaClientsHasManyQmVotes","description":"Everything about has many relation"}],[{"name":"OaClientsBelongsToWpUsers","description":"Everything about belongs to relation"}],[{"name":"OaRefreshTokens","description":"Everything about your OaRefreshTokens"}],[{"name":"OaRefreshTokensBelongsToOaClients","description":"Everything about belongs to relation"}],[{"name":"OaRefreshTokensBelongsToWpUsers","description":"Everything about belongs to relation"}],[{"name":"OaRefreshTokensBelongsToOaClients","description":"Everything about belongs to relation"}],[{"name":"OpencuresMaccossWellnessReportBiomarkerPanel","description":"Everything about your OpencuresMaccossWellnessReportBiomarkerPanel"}],[{"name":"OpencuresBiomarkers","description":"Everything about your OpencuresBiomarkers"}],[{"name":"OpencuresBloodLipids","description":"Everything about your OpencuresBloodLipids"}],[{"name":"OpencuresDataCollectionMethods","description":"Everything about your OpencuresDataCollectionMethods"}],[{"name":"OpencuresLongevitySupplements","description":"Everything about your OpencuresLongevitySupplements"}],[{"name":"OpencuresProdromeScanBiomarkerPanel","description":"Everything about your OpencuresProdromeScanBiomarkerPanel"}],[{"name":"OpencuresTestPanels","description":"Everything about your OpencuresTestPanels"}],[{"name":"QmAggregateCorrelations","description":"Everything about your QmAggregateCorrelations"}],[{"name":"QmAggregateCorrelationsHasManyQmCorrelations","description":"Everything about has many relation"}],[{"name":"QmAggregateCorrelationsHasManyQmCorrelationCausalityVotes","description":"Everything about has many relation"}],[{"name":"QmAggregateCorrelationsHasManyQmCorrelationUsefulnessVotes","description":"Everything about has many relation"}],[{"name":"QmAggregateCorrelationsHasManyQmVariables","description":"Everything about has many relation"}],[{"name":"QmAggregateCorrelationsHasManyQmVotes","description":"Everything about has many relation"}],[{"name":"QmAggregateCorrelationsBelongsToQmUnits","description":"Everything about belongs to relation"}],[{"name":"QmAggregateCorrelationsBelongsToQmVariables","description":"Everything about belongs to relation"}],[{"name":"QmAggregateCorrelationsBelongsToQmVariableCategories","description":"Everything about belongs to relation"}],[{"name":"QmAggregateCorrelationsBelongsToOaClients","description":"Everything about belongs to relation"}],[{"name":"QmAggregateCorrelationsBelongsToQmVariables","description":"Everything about belongs to relation"}],[{"name":"QmAggregateCorrelationsBelongsToQmVariableCategories","description":"Everything about belongs to relation"}],[{"name":"QmAggregateCorrelationsBelongsToWpPosts","description":"Everything about belongs to relation"}],[{"name":"QmApplications","description":"Everything about your QmApplications"}],[{"name":"QmApplicationsHasManyQmCollaborators","description":"Everything about has many relation"}],[{"name":"QmApplicationsBelongsToOaClients","description":"Everything about belongs to relation"}],[{"name":"QmApplicationsBelongsToQmVariables","description":"Everything about belongs to relation"}],[{"name":"QmApplicationsBelongsToQmVariables","description":"Everything about belongs to relation"}],[{"name":"QmApplicationsBelongsToWpUsers","description":"Everything about belongs to relation"}],[{"name":"QmApplicationsBelongsToWpPosts","description":"Everything about belongs to relation"}],[{"name":"QmCauses","description":"Everything about your QmCauses"}],[{"name":"QmCausesHasManyQmConditionCause","description":"Everything about has many relation"}],[{"name":"QmCausesBelongsToQmVariables","description":"Everything about belongs to relation"}],[{"name":"QmCollaborators","description":"Everything about your QmCollaborators"}],[{"name":"QmCollaboratorsBelongsToQmApplications","description":"Everything about belongs to relation"}],[{"name":"QmCollaboratorsBelongsToOaClients","description":"Everything about belongs to relation"}],[{"name":"QmCollaboratorsBelongsToWpUsers","description":"Everything about belongs to relation"}],[{"name":"QmCommonTags","description":"Everything about your QmCommonTags"}],[{"name":"QmCommonTagsBelongsToOaClients","description":"Everything about belongs to relation"}],[{"name":"QmCommonTagsBelongsToQmVariables","description":"Everything about belongs to relation"}],[{"name":"QmCommonTagsBelongsToQmUnits","description":"Everything about belongs to relation"}],[{"name":"QmCommonTagsBelongsToQmVariables","description":"Everything about belongs to relation"}],[{"name":"QmCommonTagsBelongsToQmUnits","description":"Everything about belongs to relation"}],[{"name":"QmConditionCause","description":"Everything about your QmConditionCause"}],[{"name":"QmConditionCauseBelongsToQmCauses","description":"Everything about belongs to relation"}],[{"name":"QmConditionCauseBelongsToQmConditions","description":"Everything about belongs to relation"}],[{"name":"QmConditionCauseBelongsToQmVariables","description":"Everything about belongs to relation"}],[{"name":"QmConditionCauseBelongsToQmVariables","description":"Everything about belongs to relation"}],[{"name":"QmConditionSymptom","description":"Everything about your QmConditionSymptom"}],[{"name":"QmConditionSymptomBelongsToQmConditions","description":"Everything about belongs to relation"}],[{"name":"QmConditionSymptomBelongsToQmSymptoms","description":"Everything about belongs to relation"}],[{"name":"QmConditionSymptomBelongsToQmVariables","description":"Everything about belongs to relation"}],[{"name":"QmConditionSymptomBelongsToQmVariables","description":"Everything about belongs to relation"}],[{"name":"QmConditionTreatment","description":"Everything about your QmConditionTreatment"}],[{"name":"QmConditionTreatmentBelongsToQmConditions","description":"Everything about belongs to relation"}],[{"name":"QmConditionTreatmentBelongsToQmTreatments","description":"Everything about belongs to relation"}],[{"name":"QmConditionTreatmentBelongsToQmVariables","description":"Everything about belongs to relation"}],[{"name":"QmConditionTreatmentBelongsToQmVariables","description":"Everything about belongs to relation"}],[{"name":"QmConditions","description":"Everything about your QmConditions"}],[{"name":"QmConditionsHasManyQmConditionCause","description":"Everything about has many relation"}],[{"name":"QmConditionsHasManyQmConditionSymptom","description":"Everything about has many relation"}],[{"name":"QmConditionsHasManyQmConditionTreatment","description":"Everything about has many relation"}],[{"name":"QmConditionsBelongsToQmVariables","description":"Everything about belongs to relation"}],[{"name":"QmConnections","description":"Everything about your QmConnections"}],[{"name":"QmConnectionsHasManyQmConnectorImports","description":"Everything about has many relation"}],[{"name":"QmConnectionsHasManyQmConnectorRequests","description":"Everything about has many relation"}],[{"name":"QmConnectionsHasManyQmMeasurements","description":"Everything about has many relation"}],[{"name":"QmConnectionsBelongsToOaClients","description":"Everything about belongs to relation"}],[{"name":"QmConnectionsBelongsToQmConnectors","description":"Everything about belongs to relation"}],[{"name":"QmConnectionsBelongsToWpUsers","description":"Everything about belongs to relation"}],[{"name":"QmConnectionsBelongsToWpPosts","description":"Everything about belongs to relation"}],[{"name":"QmConnectorDevices","description":"Everything about your QmConnectorDevices"}],[{"name":"QmConnectorImports","description":"Everything about your QmConnectorImports"}],[{"name":"QmConnectorImportsHasManyQmConnectorRequests","description":"Everything about has many relation"}],[{"name":"QmConnectorImportsHasManyQmMeasurements","description":"Everything about has many relation"}],[{"name":"QmConnectorImportsBelongsToOaClients","description":"Everything about belongs to relation"}],[{"name":"QmConnectorImportsBelongsToQmConnections","description":"Everything about belongs to relation"}],[{"name":"QmConnectorImportsBelongsToQmConnectors","description":"Everything about belongs to relation"}],[{"name":"QmConnectorImportsBelongsToWpUsers","description":"Everything about belongs to relation"}],[{"name":"QmConnectorRequests","description":"Everything about your QmConnectorRequests"}],[{"name":"QmConnectorRequestsBelongsToQmConnections","description":"Everything about belongs to relation"}],[{"name":"QmConnectorRequestsBelongsToQmConnectors","description":"Everything about belongs to relation"}],[{"name":"QmConnectorRequestsBelongsToQmConnectorImports","description":"Everything about belongs to relation"}],[{"name":"QmConnectorRequestsBelongsToWpUsers","description":"Everything about belongs to relation"}],[{"name":"QmConnectors","description":"Everything about your QmConnectors"}],[{"name":"QmConnectorsHasManyQmConnections","description":"Everything about has many relation"}],[{"name":"QmConnectorsHasManyQmConnectorImports","description":"Everything about has many relation"}],[{"name":"QmConnectorsHasManyQmConnectorRequests","description":"Everything about has many relation"}],[{"name":"QmConnectorsHasManyQmMeasurements","description":"Everything about has many relation"}],[{"name":"QmConnectorsBelongsToOaClients","description":"Everything about belongs to relation"}],[{"name":"QmConnectorsBelongsToWpPosts","description":"Everything about belongs to relation"}],[{"name":"QmCorrelationCausalityVotes","description":"Everything about your QmCorrelationCausalityVotes"}],[{"name":"QmCorrelationCausalityVotesBelongsToQmAggregateCorrelations","description":"Everything about belongs to relation"}],[{"name":"QmCorrelationCausalityVotesBelongsToQmVariables","description":"Everything about belongs to relation"}],[{"name":"QmCorrelationCausalityVotesBelongsToOaClients","description":"Everything about belongs to relation"}],[{"name":"QmCorrelationCausalityVotesBelongsToQmCorrelations","description":"Everything about belongs to relation"}],[{"name":"QmCorrelationCausalityVotesBelongsToQmVariables","description":"Everything about belongs to relation"}],[{"name":"QmCorrelationCausalityVotesBelongsToWpUsers","description":"Everything about belongs to relation"}],[{"name":"QmCorrelationUsefulnessVotes","description":"Everything about your QmCorrelationUsefulnessVotes"}],[{"name":"QmCorrelationUsefulnessVotesBelongsToQmAggregateCorrelations","description":"Everything about belongs to relation"}],[{"name":"QmCorrelationUsefulnessVotesBelongsToQmVariables","description":"Everything about belongs to relation"}],[{"name":"QmCorrelationUsefulnessVotesBelongsToOaClients","description":"Everything about belongs to relation"}],[{"name":"QmCorrelationUsefulnessVotesBelongsToQmCorrelations","description":"Everything about belongs to relation"}],[{"name":"QmCorrelationUsefulnessVotesBelongsToQmVariables","description":"Everything about belongs to relation"}],[{"name":"QmCorrelationUsefulnessVotesBelongsToWpUsers","description":"Everything about belongs to relation"}],[{"name":"QmCorrelations","description":"Everything about your QmCorrelations"}],[{"name":"QmCorrelationsHasManyQmCorrelationCausalityVotes","description":"Everything about has many relation"}],[{"name":"QmCorrelationsHasManyQmCorrelationUsefulnessVotes","description":"Everything about has many relation"}],[{"name":"QmCorrelationsHasManyQmUserVariables","description":"Everything about has many relation"}],[{"name":"QmCorrelationsHasManyQmVotes","description":"Everything about has many relation"}],[{"name":"QmCorrelationsBelongsToQmAggregateCorrelations","description":"Everything about belongs to relation"}],[{"name":"QmCorrelationsBelongsToQmUnits","description":"Everything about belongs to relation"}],[{"name":"QmCorrelationsBelongsToQmVariableCategories","description":"Everything about belongs to relation"}],[{"name":"QmCorrelationsBelongsToQmVariables","description":"Everything about belongs to relation"}],[{"name":"QmCorrelationsBelongsToOaClients","description":"Everything about belongs to relation"}],[{"name":"QmCorrelationsBelongsToQmVariableCategories","description":"Everything about belongs to relation"}],[{"name":"QmCorrelationsBelongsToQmVariables","description":"Everything about belongs to relation"}],[{"name":"QmCorrelationsBelongsToWpUsers","description":"Everything about belongs to relation"}],[{"name":"QmCorrelationsBelongsToQmUserVariables","description":"Everything about belongs to relation"}],[{"name":"QmCorrelationsBelongsToQmUserVariables","description":"Everything about belongs to relation"}],[{"name":"QmCorrelationsBelongsToWpPosts","description":"Everything about belongs to relation"}],[{"name":"QmMeasurementExports","description":"Everything about your QmMeasurementExports"}],[{"name":"QmMeasurementExportsBelongsToOaClients","description":"Everything about belongs to relation"}],[{"name":"QmMeasurementExportsBelongsToWpUsers","description":"Everything about belongs to relation"}],[{"name":"QmMeasurementImports","description":"Everything about your QmMeasurementImports"}],[{"name":"QmMeasurementImportsBelongsToOaClients","description":"Everything about belongs to relation"}],[{"name":"QmMeasurementImportsBelongsToWpUsers","description":"Everything about belongs to relation"}],[{"name":"QmMeasurements","description":"Everything about your QmMeasurements"}],[{"name":"QmMeasurementsBelongsToOaClients","description":"Everything about belongs to relation"}],[{"name":"QmMeasurementsBelongsToQmConnections","description":"Everything about belongs to relation"}],[{"name":"QmMeasurementsBelongsToQmConnectors","description":"Everything about belongs to relation"}],[{"name":"QmMeasurementsBelongsToQmConnectorImports","description":"Everything about belongs to relation"}],[{"name":"QmMeasurementsBelongsToQmUnits","description":"Everything about belongs to relation"}],[{"name":"QmMeasurementsBelongsToQmUnits","description":"Everything about belongs to relation"}],[{"name":"QmMeasurementsBelongsToWpUsers","description":"Everything about belongs to relation"}],[{"name":"QmMeasurementsBelongsToQmUserVariables","description":"Everything about belongs to relation"}],[{"name":"QmMeasurementsBelongsToQmVariables","description":"Everything about belongs to relation"}],[{"name":"QmMeasurementsBelongsToQmVariableCategories","description":"Everything about belongs to relation"}],[{"name":"QmSideEffects","description":"Everything about your QmSideEffects"}],[{"name":"QmSideEffectsHasManyQmTreatmentSideEffect","description":"Everything about has many relation"}],[{"name":"QmSideEffectsBelongsToQmVariables","description":"Everything about belongs to relation"}],[{"name":"QmSourcePlatforms","description":"Everything about your QmSourcePlatforms"}],[{"name":"QmSourcePlatformsBelongsToOaClients","description":"Everything about belongs to relation"}],[{"name":"QmStudies","description":"Everything about your QmStudies"}],[{"name":"QmStudiesBelongsToQmVariables","description":"Everything about belongs to relation"}],[{"name":"QmStudiesBelongsToOaClients","description":"Everything about belongs to relation"}],[{"name":"QmStudiesBelongsToQmVariables","description":"Everything about belongs to relation"}],[{"name":"QmStudiesBelongsToWpUsers","description":"Everything about belongs to relation"}],[{"name":"QmSymptoms","description":"Everything about your QmSymptoms"}],[{"name":"QmSymptomsHasManyQmConditionSymptom","description":"Everything about has many relation"}],[{"name":"QmSymptomsBelongsToQmVariables","description":"Everything about belongs to relation"}],[{"name":"QmThirdPartyCorrelations","description":"Everything about your QmThirdPartyCorrelations"}],[{"name":"QmThirdPartyCorrelationsBelongsToQmVariables","description":"Everything about belongs to relation"}],[{"name":"QmThirdPartyCorrelationsBelongsToQmVariableCategories","description":"Everything about belongs to relation"}],[{"name":"QmThirdPartyCorrelationsBelongsToOaClients","description":"Everything about belongs to relation"}],[{"name":"QmThirdPartyCorrelationsBelongsToQmVariables","description":"Everything about belongs to relation"}],[{"name":"QmThirdPartyCorrelationsBelongsToQmVariableCategories","description":"Everything about belongs to relation"}],[{"name":"QmTrackingReminderNotifications","description":"Everything about your QmTrackingReminderNotifications"}],[{"name":"QmTrackingReminderNotificationsBelongsToOaClients","description":"Everything about belongs to relation"}],[{"name":"QmTrackingReminderNotificationsBelongsToQmTrackingReminders","description":"Everything about belongs to relation"}],[{"name":"QmTrackingReminderNotificationsBelongsToWpUsers","description":"Everything about belongs to relation"}],[{"name":"QmTrackingReminderNotificationsBelongsToQmUserVariables","description":"Everything about belongs to relation"}],[{"name":"QmTrackingReminderNotificationsBelongsToQmVariables","description":"Everything about belongs to relation"}],[{"name":"QmTrackingReminders","description":"Everything about your QmTrackingReminders"}],[{"name":"QmTrackingRemindersHasManyQmTrackingReminderNotifications","description":"Everything about has many relation"}],[{"name":"QmTrackingRemindersBelongsToOaClients","description":"Everything about belongs to relation"}],[{"name":"QmTrackingRemindersBelongsToWpUsers","description":"Everything about belongs to relation"}],[{"name":"QmTrackingRemindersBelongsToQmUserVariables","description":"Everything about belongs to relation"}],[{"name":"QmTrackingRemindersBelongsToQmUserVariables","description":"Everything about belongs to relation"}],[{"name":"QmTrackingRemindersBelongsToQmUserVariables","description":"Everything about belongs to relation"}],[{"name":"QmTrackingRemindersBelongsToQmVariables","description":"Everything about belongs to relation"}],[{"name":"QmTreatmentSideEffect","description":"Everything about your QmTreatmentSideEffect"}],[{"name":"QmTreatmentSideEffectBelongsToQmVariables","description":"Everything about belongs to relation"}],[{"name":"QmTreatmentSideEffectBelongsToQmSideEffects","description":"Everything about belongs to relation"}],[{"name":"QmTreatmentSideEffectBelongsToQmTreatments","description":"Everything about belongs to relation"}],[{"name":"QmTreatmentSideEffectBelongsToQmVariables","description":"Everything about belongs to relation"}],[{"name":"QmTreatments","description":"Everything about your QmTreatments"}],[{"name":"QmTreatmentsHasManyQmConditionTreatment","description":"Everything about has many relation"}],[{"name":"QmTreatmentsHasManyQmTreatmentSideEffect","description":"Everything about has many relation"}],[{"name":"QmTreatmentsBelongsToQmVariables","description":"Everything about belongs to relation"}],[{"name":"QmUnitCategories","description":"Everything about your QmUnitCategories"}],[{"name":"QmUnitConversions","description":"Everything about your QmUnitConversions"}],[{"name":"QmUnits","description":"Everything about your QmUnits"}],[{"name":"QmUnitsHasManyQmAggregateCorrelations","description":"Everything about has many relation"}],[{"name":"QmUnitsHasManyQmCommonTags","description":"Everything about has many relation"}],[{"name":"QmUnitsHasManyQmCommonTags","description":"Everything about has many relation"}],[{"name":"QmUnitsHasManyQmCorrelations","description":"Everything about has many relation"}],[{"name":"QmUnitsHasManyQmMeasurements","description":"Everything about has many relation"}],[{"name":"QmUnitsHasManyQmMeasurements","description":"Everything about has many relation"}],[{"name":"QmUnitsHasManyQmUserVariables","description":"Everything about has many relation"}],[{"name":"QmUnitsHasManyQmUserVariables","description":"Everything about has many relation"}],[{"name":"QmUnitsHasManyQmVariables","description":"Everything about has many relation"}],[{"name":"QmUnitsHasManyQmVariableCategories","description":"Everything about has many relation"}],[{"name":"QmUserClients","description":"Everything about your QmUserClients"}],[{"name":"QmUserClientsBelongsToOaClients","description":"Everything about belongs to relation"}],[{"name":"QmUserClientsBelongsToWpUsers","description":"Everything about belongs to relation"}],[{"name":"QmUserStudies","description":"Everything about your QmUserStudies"}],[{"name":"QmUserStudiesBelongsToQmVariables","description":"Everything about belongs to relation"}],[{"name":"QmUserStudiesBelongsToOaClients","description":"Everything about belongs to relation"}],[{"name":"QmUserStudiesBelongsToQmVariables","description":"Everything about belongs to relation"}],[{"name":"QmUserStudiesBelongsToWpUsers","description":"Everything about belongs to relation"}],[{"name":"QmUserTags","description":"Everything about your QmUserTags"}],[{"name":"QmUserTagsBelongsToOaClients","description":"Everything about belongs to relation"}],[{"name":"QmUserTagsBelongsToQmUserVariables","description":"Everything about belongs to relation"}],[{"name":"QmUserTagsBelongsToQmVariables","description":"Everything about belongs to relation"}],[{"name":"QmUserTagsBelongsToQmUserVariables","description":"Everything about belongs to relation"}],[{"name":"QmUserTagsBelongsToQmVariables","description":"Everything about belongs to relation"}],[{"name":"QmUserTagsBelongsToWpUsers","description":"Everything about belongs to relation"}],[{"name":"QmUserVariableClients","description":"Everything about your QmUserVariableClients"}],[{"name":"QmUserVariableClientsBelongsToOaClients","description":"Everything about belongs to relation"}],[{"name":"QmUserVariableClientsBelongsToWpUsers","description":"Everything about belongs to relation"}],[{"name":"QmUserVariableClientsBelongsToQmUserVariables","description":"Everything about belongs to relation"}],[{"name":"QmUserVariableClientsBelongsToQmVariables","description":"Everything about belongs to relation"}],[{"name":"QmUserVariableOutcomeCategory","description":"Everything about your QmUserVariableOutcomeCategory"}],[{"name":"QmUserVariableOutcomeCategoryBelongsToQmUserVariables","description":"Everything about belongs to relation"}],[{"name":"QmUserVariableOutcomeCategoryBelongsToQmVariables","description":"Everything about belongs to relation"}],[{"name":"QmUserVariableOutcomeCategoryBelongsToQmVariableCategories","description":"Everything about belongs to relation"}],[{"name":"QmUserVariablePredictorCategory","description":"Everything about your QmUserVariablePredictorCategory"}],[{"name":"QmUserVariablePredictorCategoryBelongsToQmUserVariables","description":"Everything about belongs to relation"}],[{"name":"QmUserVariablePredictorCategoryBelongsToQmVariables","description":"Everything about belongs to relation"}],[{"name":"QmUserVariablePredictorCategoryBelongsToQmVariableCategories","description":"Everything about belongs to relation"}],[{"name":"QmUserVariables","description":"Everything about your QmUserVariables"}],[{"name":"QmUserVariablesHasManyQmCorrelations","description":"Everything about has many relation"}],[{"name":"QmUserVariablesHasManyQmCorrelations","description":"Everything about has many relation"}],[{"name":"QmUserVariablesHasManyQmMeasurements","description":"Everything about has many relation"}],[{"name":"QmUserVariablesHasManyQmTrackingReminders","description":"Everything about has many relation"}],[{"name":"QmUserVariablesHasManyQmTrackingReminders","description":"Everything about has many relation"}],[{"name":"QmUserVariablesHasManyQmTrackingReminders","description":"Everything about has many relation"}],[{"name":"QmUserVariablesHasManyQmTrackingReminderNotifications","description":"Everything about has many relation"}],[{"name":"QmUserVariablesHasManyQmUserTags","description":"Everything about has many relation"}],[{"name":"QmUserVariablesHasManyQmUserTags","description":"Everything about has many relation"}],[{"name":"QmUserVariablesHasManyQmUserVariableClients","description":"Everything about has many relation"}],[{"name":"QmUserVariablesHasManyQmUserVariableOutcomeCategory","description":"Everything about has many relation"}],[{"name":"QmUserVariablesHasManyQmUserVariablePredictorCategory","description":"Everything about has many relation"}],[{"name":"QmUserVariablesHasManyQmVariableUserSources","description":"Everything about has many relation"}],[{"name":"QmUserVariablesHasManyQmVariableUserSources","description":"Everything about has many relation"}],[{"name":"QmUserVariablesHasManyQmVariableUserSources","description":"Everything about has many relation"}],[{"name":"QmUserVariablesBelongsToOaClients","description":"Everything about belongs to relation"}],[{"name":"QmUserVariablesBelongsToQmCorrelations","description":"Everything about belongs to relation"}],[{"name":"QmUserVariablesBelongsToQmUnits","description":"Everything about belongs to relation"}],[{"name":"QmUserVariablesBelongsToQmUnits","description":"Everything about belongs to relation"}],[{"name":"QmUserVariablesBelongsToWpUsers","description":"Everything about belongs to relation"}],[{"name":"QmUserVariablesBelongsToQmVariables","description":"Everything about belongs to relation"}],[{"name":"QmUserVariablesBelongsToQmVariableCategories","description":"Everything about belongs to relation"}],[{"name":"QmUserVariablesBelongsToWpPosts","description":"Everything about belongs to relation"}],[{"name":"QmVariableCategories","description":"Everything about your QmVariableCategories"}],[{"name":"QmVariableCategoriesHasManyQmAggregateCorrelations","description":"Everything about has many relation"}],[{"name":"QmVariableCategoriesHasManyQmAggregateCorrelations","description":"Everything about has many relation"}],[{"name":"QmVariableCategoriesHasManyQmCorrelations","description":"Everything about has many relation"}],[{"name":"QmVariableCategoriesHasManyQmCorrelations","description":"Everything about has many relation"}],[{"name":"QmVariableCategoriesHasManyQmMeasurements","description":"Everything about has many relation"}],[{"name":"QmVariableCategoriesHasManyQmThirdPartyCorrelations","description":"Everything about has many relation"}],[{"name":"QmVariableCategoriesHasManyQmThirdPartyCorrelations","description":"Everything about has many relation"}],[{"name":"QmVariableCategoriesHasManyQmUserVariables","description":"Everything about has many relation"}],[{"name":"QmVariableCategoriesHasManyQmUserVariableOutcomeCategory","description":"Everything about has many relation"}],[{"name":"QmVariableCategoriesHasManyQmUserVariablePredictorCategory","description":"Everything about has many relation"}],[{"name":"QmVariableCategoriesHasManyQmVariables","description":"Everything about has many relation"}],[{"name":"QmVariableCategoriesHasManyQmVariableOutcomeCategory","description":"Everything about has many relation"}],[{"name":"QmVariableCategoriesHasManyQmVariablePredictorCategory","description":"Everything about has many relation"}],[{"name":"QmVariableCategoriesBelongsToQmUnits","description":"Everything about belongs to relation"}],[{"name":"QmVariableCategoriesBelongsToWpPosts","description":"Everything about belongs to relation"}],[{"name":"QmVariableOutcomeCategory","description":"Everything about your QmVariableOutcomeCategory"}],[{"name":"QmVariableOutcomeCategoryBelongsToQmVariables","description":"Everything about belongs to relation"}],[{"name":"QmVariableOutcomeCategoryBelongsToQmVariableCategories","description":"Everything about belongs to relation"}],[{"name":"QmVariablePredictorCategory","description":"Everything about your QmVariablePredictorCategory"}],[{"name":"QmVariablePredictorCategoryBelongsToQmVariables","description":"Everything about belongs to relation"}],[{"name":"QmVariablePredictorCategoryBelongsToQmVariableCategories","description":"Everything about belongs to relation"}],[{"name":"QmVariableUserSources","description":"Everything about your QmVariableUserSources"}],[{"name":"QmVariableUserSourcesBelongsToOaClients","description":"Everything about belongs to relation"}],[{"name":"QmVariableUserSourcesBelongsToWpUsers","description":"Everything about belongs to relation"}],[{"name":"QmVariableUserSourcesBelongsToQmUserVariables","description":"Everything about belongs to relation"}],[{"name":"QmVariableUserSourcesBelongsToQmUserVariables","description":"Everything about belongs to relation"}],[{"name":"QmVariableUserSourcesBelongsToQmUserVariables","description":"Everything about belongs to relation"}],[{"name":"QmVariableUserSourcesBelongsToQmVariables","description":"Everything about belongs to relation"}],[{"name":"QmVariables","description":"Everything about your QmVariables"}],[{"name":"QmVariablesHasManyQmAggregateCorrelations","description":"Everything about has many relation"}],[{"name":"QmVariablesHasManyQmAggregateCorrelations","description":"Everything about has many relation"}],[{"name":"QmVariablesHasManyQmApplications","description":"Everything about has many relation"}],[{"name":"QmVariablesHasManyQmApplications","description":"Everything about has many relation"}],[{"name":"QmVariablesHasManyQmCommonTags","description":"Everything about has many relation"}],[{"name":"QmVariablesHasManyQmCommonTags","description":"Everything about has many relation"}],[{"name":"QmVariablesHasManyQmCorrelations","description":"Everything about has many relation"}],[{"name":"QmVariablesHasManyQmCorrelations","description":"Everything about has many relation"}],[{"name":"QmVariablesHasManyQmCorrelationCausalityVotes","description":"Everything about has many relation"}],[{"name":"QmVariablesHasManyQmCorrelationCausalityVotes","description":"Everything about has many relation"}],[{"name":"QmVariablesHasManyQmCorrelationUsefulnessVotes","description":"Everything about has many relation"}],[{"name":"QmVariablesHasManyQmCorrelationUsefulnessVotes","description":"Everything about has many relation"}],[{"name":"QmVariablesHasManyCtgConditions","description":"Everything about has many relation"}],[{"name":"QmVariablesHasManyCtgInterventions","description":"Everything about has many relation"}],[{"name":"QmVariablesHasManyQmCauses","description":"Everything about has many relation"}],[{"name":"QmVariablesHasManyQmConditions","description":"Everything about has many relation"}],[{"name":"QmVariablesHasManyQmConditionCause","description":"Everything about has many relation"}],[{"name":"QmVariablesHasManyQmConditionCause","description":"Everything about has many relation"}],[{"name":"QmVariablesHasManyQmConditionSymptom","description":"Everything about has many relation"}],[{"name":"QmVariablesHasManyQmConditionSymptom","description":"Everything about has many relation"}],[{"name":"QmVariablesHasManyQmConditionTreatment","description":"Everything about has many relation"}],[{"name":"QmVariablesHasManyQmConditionTreatment","description":"Everything about has many relation"}],[{"name":"QmVariablesHasManyQmSideEffects","description":"Everything about has many relation"}],[{"name":"QmVariablesHasManyQmSymptoms","description":"Everything about has many relation"}],[{"name":"QmVariablesHasManyQmTreatments","description":"Everything about has many relation"}],[{"name":"QmVariablesHasManyQmMeasurements","description":"Everything about has many relation"}],[{"name":"QmVariablesHasManyQmTreatmentSideEffect","description":"Everything about has many relation"}],[{"name":"QmVariablesHasManyQmStudies","description":"Everything about has many relation"}],[{"name":"QmVariablesHasManyQmStudies","description":"Everything about has many relation"}],[{"name":"QmVariablesHasManyQmThirdPartyCorrelations","description":"Everything about has many relation"}],[{"name":"QmVariablesHasManyQmThirdPartyCorrelations","description":"Everything about has many relation"}],[{"name":"QmVariablesHasManyQmTrackingReminders","description":"Everything about has many relation"}],[{"name":"QmVariablesHasManyQmTrackingReminderNotifications","description":"Everything about has many relation"}],[{"name":"QmVariablesHasManyQmTreatmentSideEffect","description":"Everything about has many relation"}],[{"name":"QmVariablesHasManyQmUserStudies","description":"Everything about has many relation"}],[{"name":"QmVariablesHasManyQmUserStudies","description":"Everything about has many relation"}],[{"name":"QmVariablesHasManyQmUserTags","description":"Everything about has many relation"}],[{"name":"QmVariablesHasManyQmUserTags","description":"Everything about has many relation"}],[{"name":"QmVariablesHasManyQmUserVariables","description":"Everything about has many relation"}],[{"name":"QmVariablesHasManyQmUserVariableClients","description":"Everything about has many relation"}],[{"name":"QmVariablesHasManyQmUserVariableOutcomeCategory","description":"Everything about has many relation"}],[{"name":"QmVariablesHasManyQmUserVariablePredictorCategory","description":"Everything about has many relation"}],[{"name":"QmVariablesHasManyQmVariables","description":"Everything about has many relation"}],[{"name":"QmVariablesHasManyQmVariables","description":"Everything about has many relation"}],[{"name":"QmVariablesHasManyQmVariableOutcomeCategory","description":"Everything about has many relation"}],[{"name":"QmVariablesHasManyQmVariablePredictorCategory","description":"Everything about has many relation"}],[{"name":"QmVariablesHasManyQmVariableUserSources","description":"Everything about has many relation"}],[{"name":"QmVariablesHasManyQmVotes","description":"Everything about has many relation"}],[{"name":"QmVariablesHasManyQmVotes","description":"Everything about has many relation"}],[{"name":"QmVariablesHasManyWpUsers","description":"Everything about has many relation"}],[{"name":"QmVariablesBelongsToQmAggregateCorrelations","description":"Everything about belongs to relation"}],[{"name":"QmVariablesBelongsToQmVariables","description":"Everything about belongs to relation"}],[{"name":"QmVariablesBelongsToQmVariables","description":"Everything about belongs to relation"}],[{"name":"QmVariablesBelongsToOaClients","description":"Everything about belongs to relation"}],[{"name":"QmVariablesBelongsToQmUnits","description":"Everything about belongs to relation"}],[{"name":"QmVariablesBelongsToQmVariableCategories","description":"Everything about belongs to relation"}],[{"name":"QmVariablesBelongsToWpPosts","description":"Everything about belongs to relation"}],[{"name":"QmVotes","description":"Everything about your QmVotes"}],[{"name":"QmVotesBelongsToQmAggregateCorrelations","description":"Everything about belongs to relation"}],[{"name":"QmVotesBelongsToQmVariables","description":"Everything about belongs to relation"}],[{"name":"QmVotesBelongsToOaClients","description":"Everything about belongs to relation"}],[{"name":"QmVotesBelongsToQmCorrelations","description":"Everything about belongs to relation"}],[{"name":"QmVotesBelongsToQmVariables","description":"Everything about belongs to relation"}],[{"name":"QmVotesBelongsToWpUsers","description":"Everything about belongs to relation"}],[{"name":"UcumUnitsOfMeasure","description":"Everything about your UcumUnitsOfMeasure"}],[{"name":"WpPostmeta","description":"Everything about your WpPostmeta"}],[{"name":"WpPostmetaBelongsToWpPosts","description":"Everything about belongs to relation"}],[{"name":"WpPosts","description":"Everything about your WpPosts"}],[{"name":"WpPostsHasManyQmAggregateCorrelations","description":"Everything about has many relation"}],[{"name":"WpPostsHasManyQmApplications","description":"Everything about has many relation"}],[{"name":"WpPostsHasManyQmConnections","description":"Everything about has many relation"}],[{"name":"WpPostsHasManyQmConnectors","description":"Everything about has many relation"}],[{"name":"WpPostsHasManyQmCorrelations","description":"Everything about has many relation"}],[{"name":"WpPostsHasManyQmUserVariables","description":"Everything about has many relation"}],[{"name":"WpPostsHasManyQmVariables","description":"Everything about has many relation"}],[{"name":"WpPostsHasManyQmVariableCategories","description":"Everything about has many relation"}],[{"name":"WpPostsHasManyWpPostmeta","description":"Everything about has many relation"}],[{"name":"WpPostsHasManyWpTermRelationships","description":"Everything about has many relation"}],[{"name":"WpPostsHasManyWpUsers","description":"Everything about has many relation"}],[{"name":"WpPostsBelongsToWpUsers","description":"Everything about belongs to relation"}],[{"name":"WpTermRelationships","description":"Everything about your WpTermRelationships"}],[{"name":"WpTermRelationshipsBelongsToWpPosts","description":"Everything about belongs to relation"}],[{"name":"WpTermRelationshipsBelongsToWpTermTaxonomy","description":"Everything about belongs to relation"}],[{"name":"WpTermTaxonomy","description":"Everything about your WpTermTaxonomy"}],[{"name":"WpTermTaxonomyHasManyWpTermRelationships","description":"Everything about has many relation"}],[{"name":"WpTermTaxonomyBelongsToWpTerms","description":"Everything about belongs to relation"}],[{"name":"WpTerms","description":"Everything about your WpTerms"}],[{"name":"WpTermsHasManyWpTermTaxonomy","description":"Everything about has many relation"}],[{"name":"WpUsermeta","description":"Everything about your WpUsermeta"}],[{"name":"WpUsermetaBelongsToWpUsers","description":"Everything about belongs to relation"}],[{"name":"WpUsers","description":"Everything about your WpUsers"}],[{"name":"WpUsersHasManyQmApplications","description":"Everything about has many relation"}],[{"name":"WpUsersHasManyOaAccessTokens","description":"Everything about has many relation"}],[{"name":"WpUsersHasManyOaAuthorizationCodes","description":"Everything about has many relation"}],[{"name":"WpUsersHasManyOaClients","description":"Everything about has many relation"}],[{"name":"WpUsersHasManyOaRefreshTokens","description":"Everything about has many relation"}],[{"name":"WpUsersHasManyQmCollaborators","description":"Everything about has many relation"}],[{"name":"WpUsersHasManyQmConnections","description":"Everything about has many relation"}],[{"name":"WpUsersHasManyQmConnectorImports","description":"Everything about has many relation"}],[{"name":"WpUsersHasManyQmConnectorRequests","description":"Everything about has many relation"}],[{"name":"WpUsersHasManyQmCorrelations","description":"Everything about has many relation"}],[{"name":"WpUsersHasManyQmCorrelationCausalityVotes","description":"Everything about has many relation"}],[{"name":"WpUsersHasManyQmCorrelationUsefulnessVotes","description":"Everything about has many relation"}],[{"name":"WpUsersHasManyQmMeasurements","description":"Everything about has many relation"}],[{"name":"WpUsersHasManyQmMeasurementExports","description":"Everything about has many relation"}],[{"name":"WpUsersHasManyQmMeasurementImports","description":"Everything about has many relation"}],[{"name":"WpUsersHasManyQmStudies","description":"Everything about has many relation"}],[{"name":"WpUsersHasManyQmTrackingReminders","description":"Everything about has many relation"}],[{"name":"WpUsersHasManyQmTrackingReminderNotifications","description":"Everything about has many relation"}],[{"name":"WpUsersHasManyQmUserClients","description":"Everything about has many relation"}],[{"name":"WpUsersHasManyQmUserStudies","description":"Everything about has many relation"}],[{"name":"WpUsersHasManyQmUserTags","description":"Everything about has many relation"}],[{"name":"WpUsersHasManyQmUserVariables","description":"Everything about has many relation"}],[{"name":"WpUsersHasManyQmUserVariableClients","description":"Everything about has many relation"}],[{"name":"WpUsersHasManyQmVariableUserSources","description":"Everything about has many relation"}],[{"name":"WpUsersHasManyQmVotes","description":"Everything about has many relation"}],[{"name":"WpUsersHasManyWpPosts","description":"Everything about has many relation"}],[{"name":"WpUsersHasManyWpUsermeta","description":"Everything about has many relation"}],[{"name":"WpUsersHasManyWpUsers","description":"Everything about has many relation"}],[{"name":"WpUsersBelongsToQmVariables","description":"Everything about belongs to relation"}],[{"name":"WpUsersBelongsToWpPosts","description":"Everything about belongs to relation"}],[{"name":"WpUsersBelongsToWpUsers","description":"Everything about belongs to relation"}],[{"name":"Procedures","description":""},{"name":"Functions","description":""}]],"schemes":["http","https"],"paths":{"/auth/signin":{"post":{"security":[],"tags":["Authentication"],"summary":"User login","description":"","operationId":"login","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"Authentication user details","required":true,"schema":{"$ref":"#/definitions/userAuth"}}],"responses":{"200":{"description":"Authenticated successfully","schema":{"$ref":"#/definitions/token"}}}}},"/auth/signup":{"post":{"tags":["Authentication"],"summary":"User signup","description":"","operationId":"signup","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"Signup user details","required":true,"schema":{"$ref":"#/definitions/user"}}],"responses":{"200":{"description":"Registration success","schema":{"$ref":"#/definitions/token"}},"400":{"description":"Bad request"}}}},"/auth/password/forgot":{"post":{"tags":["Authentication"],"summary":"Password Forgot","description":"","operationId":"passwordForgot","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"Email address","required":true,"schema":{"type":"object","properties":{"email":{"type":"string","required":true,"example":"test@nocodb.com"}}}}],"responses":{"200":{"description":"Mailed password reset link","schema":{"type":"boolean"}}}}},"/auth/email/validate/{tokenId}":{"post":{"tags":["Authentication"],"summary":"Email validate link","description":"","operationId":"emailValidate","produces":["application/json"],"parameters":[{"name":"tokenId","in":"path","description":"random token id received","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"Validated successfully"}}}},"/auth/token/validate/{tokenId}":{"get":{"tags":["Authentication"],"summary":"Validate password reset token","description":"","operationId":"passwordResetTokenValidate","produces":["application/json"],"parameters":[{"name":"tokenId","in":"path","description":"random token id received","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"Validated successfully"}}}},"/auth/password/reset/":{"post":{"tags":["Authentication"],"summary":"Password reset","description":"","operationId":"passwordReset","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"tokenId","in":"path","description":"random token id received","required":true,"type":"string","format":"uuid"},{"in":"body","name":"body","description":"Reset password details","required":true,"schema":{"type":"object","properties":{"password":{"type":"string","format":"password","example":"password","required":true}}}}],"responses":{"200":{"description":"Password reset successfully"}}}},"/user/me":{"get":{"tags":["Authentication"],"summary":"User details","description":"","operationId":"userDetails","produces":["application/json"],"responses":{"200":{"description":"User details"}}}},"/user":{"put":{"tags":["Authentication"],"summary":"Update user details","description":"","operationId":"updateUserDetails","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"User details"}},"parameters":[{"in":"body","name":"body","description":"Updated user details","required":true,"schema":{"$ref":"#/definitions/user"}}]}},"/user/password/change":{"post":{"tags":["Authentication"],"summary":"Update user details","description":"","operationId":"passwordChange","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"User details"}},"parameters":[{"in":"body","name":"body","description":"Current password and new password","required":true,"schema":{"type":"object","properties":{"currentPassword":{"type":"string","format":"password","example":"password"},"newPassword":{"type":"string","format":"password","example":"newPassword"}}}}]}},"/nc/api_qhm6/api/v1/CtCorrelations":{"post":{"tags":["CtCorrelations"],"summary":"Add a new CtCorrelations","description":"","operationId":"addCtCorrelations","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"CtCorrelations object that needs to add","required":true,"schema":{"$ref":"#/definitions/CtCorrelations"}}],"responses":{"405":{"description":"Invalid input"}}},"get":{"tags":["CtCorrelations"],"summary":"Get list","description":"","operationId":"getCtCorrelations","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"query","name":"fields","type":"string","description":"Comma separated fields from the model"},{"in":"query","name":"bt","type":"string","description":"Comma separated parent table names(Belongs To)"},{"in":"query","name":"hm","type":"string","description":"Comma separated child table names(Has Many)"},{"in":"query","name":"mm","type":"string","description":"Comma separated child table names(Many to Many)"},{"in":"query","name":"where","type":"string","description":"Where expression"},{"in":"query","name":"limit","description":"Page size limit","type":"integer","format":"int64"},{"in":"query","name":"offset","description":"Pagination offset","type":"integer","format":"int64"},{"in":"query","name":"sort","description":"Comma separated sort fields","type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/CtCorrelationsNested"}}},"405":{"description":"Invalid input"}}}},"/nc/api_qhm6/api/v1/CtCorrelations/{CtCorrelationsId}":{"get":{"tags":["CtCorrelations"],"summary":"Find CtCorrelations by ID","description":"Returns a single CtCorrelations","operationId":"getCtCorrelationsById","produces":["application/json"],"parameters":[{"name":"CtCorrelationsId","in":"path","description":"ID of CtCorrelations to return. In case of composite key provide keys separated by ___","required":true,"type":"string"},{"in":"query","name":"bt","type":"string","description":"Comma separated parent table names(Belongs To)"},{"in":"query","name":"hm","type":"string","description":"Comma separated child table names(Has Many)"},{"in":"query","name":"mm","type":"string","description":"Comma separated child table names(Many to Many)"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/CtCorrelationsNested"}},"400":{"description":"Invalid ID supplied"},"404":{"description":"CtCorrelations not found"}}},"put":{"tags":["CtCorrelations"],"summary":"Updates a CtCorrelations","description":"","operationId":"updateCtCorrelations","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"CtCorrelationsId","in":"path","description":"ID of CtCorrelations to return. In case of composite key provide keys separated by ___","required":true,"type":"string"},{"in":"body","name":"body","description":"CtCorrelations object that needs to be added to the store","required":true,"schema":{"$ref":"#/definitions/CtCorrelations"}}],"responses":{"405":{"description":"Invalid input"}}},"delete":{"tags":["CtCorrelations"],"summary":"Deletes a CtCorrelations","description":"","operationId":"deleteCtCorrelations","produces":["application/json"],"parameters":[{"name":"CtCorrelationsId","in":"path","description":"ID of CtCorrelations to return. In case of composite key provide keys separated by ___","required":true,"type":"string"}],"responses":{"400":{"description":"Invalid ID supplied"},"404":{"description":"CtCorrelations not found"}}}},"/nc/api_qhm6/api/v1/CtCorrelations/bulk":{"post":{"tags":["CtCorrelations"],"summary":"Bulk CtCorrelations insert","description":"","operationId":"bulkCtCorrelationsInsert","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"CtCorrelations objects","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/CtCorrelations"}}}],"responses":{"405":{"description":"Invalid input"}}},"put":{"tags":["CtCorrelations"],"summary":"Updates a CtCorrelations","description":"","operationId":"updateCtCorrelations","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"CtCorrelations objects with id","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/CtCorrelations"}}}],"responses":{"405":{"description":"Invalid input"}}},"delete":{"tags":["CtCorrelations"],"summary":"Deletes a CtCorrelations","description":"","operationId":"deleteCtCorrelations","produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"CtCorrelations objects contains id","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/CtCorrelations"}}}],"responses":{"400":{"description":"Invalid ID supplied"},"404":{"description":"CtCorrelations not found"}}}},"/nc/api_qhm6/api/v1/CtCorrelations/findOne":{"get":{"tags":["CtCorrelations"],"summary":"Get first one from filtered data","description":"","operationId":"findOneCtCorrelations","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"query","name":"fields","type":"string","description":"Comma separated fields from the model"},{"in":"query","name":"where","type":"string","description":"Where expression"},{"in":"query","name":"limit","description":"Page size limit","type":"integer","format":"int64"},{"in":"query","name":"offset","description":"Pagination offset","type":"integer","format":"int64"},{"in":"query","name":"sort","description":"Comma separated sort fields","type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/CtCorrelations"}},"405":{"description":"Invalid input"}}}},"/nc/api_qhm6/api/v1/CtCorrelations/{CtCorrelationsId}/exists":{"get":{"tags":["CtCorrelations"],"summary":"Check CtCorrelations with provided ID exists","description":"Returns a single CtCorrelations","operationId":"checkCtCorrelationsExists","produces":["application/json"],"parameters":[{"name":"CtCorrelationsId","in":"path","description":"ID of CtCorrelations to return. In case of composite key provide keys separated by ___","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"boolean"}}}}},"/nc/api_qhm6/api/v1/CtCorrelations/count":{"get":{"tags":["CtCorrelations"],"summary":"Get CtCorrelations count","operationId":"getCtCorrelationsCount","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"query","name":"where","type":"string","description":"Where expression"}],"responses":{"200":{"description":"successful operation","schema":{"type":"object"}},"405":{"description":"Invalid input"}}}},"/nc/api_qhm6/api/v1/CtCorrelations/groupby":{"get":{"tags":["CtCorrelations"],"summary":"Group by column","description":"","operationId":"CtCorrelationsGroupByColumn","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"query","name":"column_name","type":"string","description":"Column name"},{"in":"query","name":"where","type":"string","description":"Where expression"},{"in":"query","name":"limit","description":"Page size limit","type":"integer","format":"int64"},{"in":"query","name":"offset","description":"Pagination offset","type":"integer","format":"int64"},{"in":"query","name":"sort","description":"Comma separated sort fieldst","type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/CtCorrelations"}},"405":{"description":"Invalid input"}}}},"/nc/api_qhm6/api/v1/CtCorrelations/distribution":{"get":{"tags":["CtCorrelations"],"summary":"","description":"","operationId":"CtCorrelationsDistribution","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"query","name":"column_name","type":"string","description":"Column name"},{"in":"query","name":"min","description":"min value","type":"integer","format":"int64"},{"in":"query","name":"max","description":"max value","type":"integer","format":"int64"},{"in":"query","name":"step","description":"step value","type":"integer","format":"int64"},{"in":"query","name":"steps","description":"steps value","type":"integer","format":"int64"},{"in":"query","name":"func","description":"comma separated aggregation functions","type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"type":"object"}}},"405":{"description":"Invalid input"}}}},"/nc/api_qhm6/api/v1/CtCorrelations/distinct":{"get":{"tags":["CtCorrelations"],"summary":"Get first one from filtered data","description":"","operationId":"CtCorrelationsDistinct","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"query","name":"column_name","type":"string","description":"Column name"},{"in":"query","name":"where","type":"string","description":"Where expression"},{"in":"query","name":"limit","description":"Page size limit","type":"integer","format":"int64"},{"in":"query","name":"offset","description":"Pagination offset","type":"integer","format":"int64"},{"in":"query","name":"sort","description":"Comma separated sort fields","type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"type":"object"}}},"405":{"description":"Invalid input"}}}},"/nc/api_qhm6/api/v1/CtCorrelations/aggregate":{"get":{"tags":["CtCorrelations"],"summary":"Get first one from filtered data","description":"","operationId":"CtCorrelationsAggregate","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"query","name":"column_name","type":"string","description":"Column name"},{"in":"query","name":"func","type":"string","description":"Comma separated aggregate functions"},{"in":"query","name":"having","type":"string","description":"Having expression"},{"in":"query","name":"fields","type":"string","description":"Comma separated fields from the model"},{"in":"query","name":"limit","description":"Page size limit","type":"integer","format":"int64"},{"in":"query","name":"offset","description":"Pagination offset","type":"integer","format":"int64"},{"in":"query","name":"sort","description":"Comma separated sort fields","type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/CtCorrelations"}},"405":{"description":"Invalid input"}}}},"/nc/api_qhm6/api/v1/CtgConditions":{"post":{"tags":["CtgConditions"],"summary":"Add a new CtgConditions","description":"","operationId":"addCtgConditions","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"CtgConditions object that needs to add","required":true,"schema":{"$ref":"#/definitions/CtgConditions"}}],"responses":{"405":{"description":"Invalid input"}}},"get":{"tags":["CtgConditions"],"summary":"Get list","description":"","operationId":"getCtgConditions","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"query","name":"fields","type":"string","description":"Comma separated fields from the model"},{"in":"query","name":"bt","type":"string","description":"Comma separated parent table names(Belongs To)"},{"in":"query","name":"hm","type":"string","description":"Comma separated child table names(Has Many)"},{"in":"query","name":"mm","type":"string","description":"Comma separated child table names(Many to Many)"},{"in":"query","name":"where","type":"string","description":"Where expression"},{"in":"query","name":"limit","description":"Page size limit","type":"integer","format":"int64"},{"in":"query","name":"offset","description":"Pagination offset","type":"integer","format":"int64"},{"in":"query","name":"sort","description":"Comma separated sort fields","type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/CtgConditionsNested"}}},"405":{"description":"Invalid input"}}}},"/nc/api_qhm6/api/v1/CtgConditions/{CtgConditionsId}":{"get":{"tags":["CtgConditions"],"summary":"Find CtgConditions by ID","description":"Returns a single CtgConditions","operationId":"getCtgConditionsById","produces":["application/json"],"parameters":[{"name":"CtgConditionsId","in":"path","description":"ID of CtgConditions to return. In case of composite key provide keys separated by ___","required":true,"type":"string"},{"in":"query","name":"bt","type":"string","description":"Comma separated parent table names(Belongs To)"},{"in":"query","name":"hm","type":"string","description":"Comma separated child table names(Has Many)"},{"in":"query","name":"mm","type":"string","description":"Comma separated child table names(Many to Many)"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/CtgConditionsNested"}},"400":{"description":"Invalid ID supplied"},"404":{"description":"CtgConditions not found"}}},"put":{"tags":["CtgConditions"],"summary":"Updates a CtgConditions","description":"","operationId":"updateCtgConditions","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"CtgConditionsId","in":"path","description":"ID of CtgConditions to return. In case of composite key provide keys separated by ___","required":true,"type":"string"},{"in":"body","name":"body","description":"CtgConditions object that needs to be added to the store","required":true,"schema":{"$ref":"#/definitions/CtgConditions"}}],"responses":{"405":{"description":"Invalid input"}}},"delete":{"tags":["CtgConditions"],"summary":"Deletes a CtgConditions","description":"","operationId":"deleteCtgConditions","produces":["application/json"],"parameters":[{"name":"CtgConditionsId","in":"path","description":"ID of CtgConditions to return. In case of composite key provide keys separated by ___","required":true,"type":"string"}],"responses":{"400":{"description":"Invalid ID supplied"},"404":{"description":"CtgConditions not found"}}}},"/nc/api_qhm6/api/v1/CtgConditions/bulk":{"post":{"tags":["CtgConditions"],"summary":"Bulk CtgConditions insert","description":"","operationId":"bulkCtgConditionsInsert","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"CtgConditions objects","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/CtgConditions"}}}],"responses":{"405":{"description":"Invalid input"}}},"put":{"tags":["CtgConditions"],"summary":"Updates a CtgConditions","description":"","operationId":"updateCtgConditions","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"CtgConditions objects with id","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/CtgConditions"}}}],"responses":{"405":{"description":"Invalid input"}}},"delete":{"tags":["CtgConditions"],"summary":"Deletes a CtgConditions","description":"","operationId":"deleteCtgConditions","produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"CtgConditions objects contains id","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/CtgConditions"}}}],"responses":{"400":{"description":"Invalid ID supplied"},"404":{"description":"CtgConditions not found"}}}},"/nc/api_qhm6/api/v1/CtgConditions/findOne":{"get":{"tags":["CtgConditions"],"summary":"Get first one from filtered data","description":"","operationId":"findOneCtgConditions","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"query","name":"fields","type":"string","description":"Comma separated fields from the model"},{"in":"query","name":"where","type":"string","description":"Where expression"},{"in":"query","name":"limit","description":"Page size limit","type":"integer","format":"int64"},{"in":"query","name":"offset","description":"Pagination offset","type":"integer","format":"int64"},{"in":"query","name":"sort","description":"Comma separated sort fields","type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/CtgConditions"}},"405":{"description":"Invalid input"}}}},"/nc/api_qhm6/api/v1/CtgConditions/{CtgConditionsId}/exists":{"get":{"tags":["CtgConditions"],"summary":"Check CtgConditions with provided ID exists","description":"Returns a single CtgConditions","operationId":"checkCtgConditionsExists","produces":["application/json"],"parameters":[{"name":"CtgConditionsId","in":"path","description":"ID of CtgConditions to return. In case of composite key provide keys separated by ___","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"boolean"}}}}},"/nc/api_qhm6/api/v1/CtgConditions/count":{"get":{"tags":["CtgConditions"],"summary":"Get CtgConditions count","operationId":"getCtgConditionsCount","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"query","name":"where","type":"string","description":"Where expression"}],"responses":{"200":{"description":"successful operation","schema":{"type":"object"}},"405":{"description":"Invalid input"}}}},"/nc/api_qhm6/api/v1/CtgConditions/groupby":{"get":{"tags":["CtgConditions"],"summary":"Group by column","description":"","operationId":"CtgConditionsGroupByColumn","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"query","name":"column_name","type":"string","description":"Column name"},{"in":"query","name":"where","type":"string","description":"Where expression"},{"in":"query","name":"limit","description":"Page size limit","type":"integer","format":"int64"},{"in":"query","name":"offset","description":"Pagination offset","type":"integer","format":"int64"},{"in":"query","name":"sort","description":"Comma separated sort fieldst","type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/CtgConditions"}},"405":{"description":"Invalid input"}}}},"/nc/api_qhm6/api/v1/CtgConditions/distribution":{"get":{"tags":["CtgConditions"],"summary":"","description":"","operationId":"CtgConditionsDistribution","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"query","name":"column_name","type":"string","description":"Column name"},{"in":"query","name":"min","description":"min value","type":"integer","format":"int64"},{"in":"query","name":"max","description":"max value","type":"integer","format":"int64"},{"in":"query","name":"step","description":"step value","type":"integer","format":"int64"},{"in":"query","name":"steps","description":"steps value","type":"integer","format":"int64"},{"in":"query","name":"func","description":"comma separated aggregation functions","type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"type":"object"}}},"405":{"description":"Invalid input"}}}},"/nc/api_qhm6/api/v1/CtgConditions/distinct":{"get":{"tags":["CtgConditions"],"summary":"Get first one from filtered data","description":"","operationId":"CtgConditionsDistinct","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"query","name":"column_name","type":"string","description":"Column name"},{"in":"query","name":"where","type":"string","description":"Where expression"},{"in":"query","name":"limit","description":"Page size limit","type":"integer","format":"int64"},{"in":"query","name":"offset","description":"Pagination offset","type":"integer","format":"int64"},{"in":"query","name":"sort","description":"Comma separated sort fields","type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"type":"object"}}},"405":{"description":"Invalid input"}}}},"/nc/api_qhm6/api/v1/CtgConditions/aggregate":{"get":{"tags":["CtgConditions"],"summary":"Get first one from filtered data","description":"","operationId":"CtgConditionsAggregate","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"query","name":"column_name","type":"string","description":"Column name"},{"in":"query","name":"func","type":"string","description":"Comma separated aggregate functions"},{"in":"query","name":"having","type":"string","description":"Having expression"},{"in":"query","name":"fields","type":"string","description":"Comma separated fields from the model"},{"in":"query","name":"limit","description":"Page size limit","type":"integer","format":"int64"},{"in":"query","name":"offset","description":"Pagination offset","type":"integer","format":"int64"},{"in":"query","name":"sort","description":"Comma separated sort fields","type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/CtgConditions"}},"405":{"description":"Invalid input"}}}},"/nc/api_qhm6/api/v1/CtgConditions/belongs/QmVariables":{"get":{"tags":["CtgConditionsBelongsToQmVariables"],"summary":"Get CtgConditions list with QmVariables parent","description":"","operationId":"CtgConditionsWithParent","produces":["application/json"],"parameters":[{"in":"query","name":"where","type":"String","description":"Where expression"},{"in":"query","name":"limit","description":"Page size limit","type":"integer","format":"int64"},{"in":"query","name":"offset","description":"Pagination offset","type":"integer","format":"int64"},{"in":"query","name":"sort","description":"Sort parameter","type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"type":"object"}}}}}},"/nc/api_qhm6/api/v1/CtgInterventionOtherNames":{"post":{"tags":["CtgInterventionOtherNames"],"summary":"Add a new CtgInterventionOtherNames","description":"","operationId":"addCtgInterventionOtherNames","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"CtgInterventionOtherNames object that needs to add","required":true,"schema":{"$ref":"#/definitions/CtgInterventionOtherNames"}}],"responses":{"405":{"description":"Invalid input"}}},"get":{"tags":["CtgInterventionOtherNames"],"summary":"Get list","description":"","operationId":"getCtgInterventionOtherNames","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"query","name":"fields","type":"string","description":"Comma separated fields from the model"},{"in":"query","name":"bt","type":"string","description":"Comma separated parent table names(Belongs To)"},{"in":"query","name":"hm","type":"string","description":"Comma separated child table names(Has Many)"},{"in":"query","name":"mm","type":"string","description":"Comma separated child table names(Many to Many)"},{"in":"query","name":"where","type":"string","description":"Where expression"},{"in":"query","name":"limit","description":"Page size limit","type":"integer","format":"int64"},{"in":"query","name":"offset","description":"Pagination offset","type":"integer","format":"int64"},{"in":"query","name":"sort","description":"Comma separated sort fields","type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/CtgInterventionOtherNamesNested"}}},"405":{"description":"Invalid input"}}}},"/nc/api_qhm6/api/v1/CtgInterventionOtherNames/{CtgInterventionOtherNamesId}":{"get":{"tags":["CtgInterventionOtherNames"],"summary":"Find CtgInterventionOtherNames by ID","description":"Returns a single CtgInterventionOtherNames","operationId":"getCtgInterventionOtherNamesById","produces":["application/json"],"parameters":[{"name":"CtgInterventionOtherNamesId","in":"path","description":"ID of CtgInterventionOtherNames to return. In case of composite key provide keys separated by ___","required":true,"type":"string"},{"in":"query","name":"bt","type":"string","description":"Comma separated parent table names(Belongs To)"},{"in":"query","name":"hm","type":"string","description":"Comma separated child table names(Has Many)"},{"in":"query","name":"mm","type":"string","description":"Comma separated child table names(Many to Many)"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/CtgInterventionOtherNamesNested"}},"400":{"description":"Invalid ID supplied"},"404":{"description":"CtgInterventionOtherNames not found"}}},"put":{"tags":["CtgInterventionOtherNames"],"summary":"Updates a CtgInterventionOtherNames","description":"","operationId":"updateCtgInterventionOtherNames","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"CtgInterventionOtherNamesId","in":"path","description":"ID of CtgInterventionOtherNames to return. In case of composite key provide keys separated by ___","required":true,"type":"string"},{"in":"body","name":"body","description":"CtgInterventionOtherNames object that needs to be added to the store","required":true,"schema":{"$ref":"#/definitions/CtgInterventionOtherNames"}}],"responses":{"405":{"description":"Invalid input"}}},"delete":{"tags":["CtgInterventionOtherNames"],"summary":"Deletes a CtgInterventionOtherNames","description":"","operationId":"deleteCtgInterventionOtherNames","produces":["application/json"],"parameters":[{"name":"CtgInterventionOtherNamesId","in":"path","description":"ID of CtgInterventionOtherNames to return. In case of composite key provide keys separated by ___","required":true,"type":"string"}],"responses":{"400":{"description":"Invalid ID supplied"},"404":{"description":"CtgInterventionOtherNames not found"}}}},"/nc/api_qhm6/api/v1/CtgInterventionOtherNames/bulk":{"post":{"tags":["CtgInterventionOtherNames"],"summary":"Bulk CtgInterventionOtherNames insert","description":"","operationId":"bulkCtgInterventionOtherNamesInsert","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"CtgInterventionOtherNames objects","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/CtgInterventionOtherNames"}}}],"responses":{"405":{"description":"Invalid input"}}},"put":{"tags":["CtgInterventionOtherNames"],"summary":"Updates a CtgInterventionOtherNames","description":"","operationId":"updateCtgInterventionOtherNames","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"CtgInterventionOtherNames objects with id","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/CtgInterventionOtherNames"}}}],"responses":{"405":{"description":"Invalid input"}}},"delete":{"tags":["CtgInterventionOtherNames"],"summary":"Deletes a CtgInterventionOtherNames","description":"","operationId":"deleteCtgInterventionOtherNames","produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"CtgInterventionOtherNames objects contains id","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/CtgInterventionOtherNames"}}}],"responses":{"400":{"description":"Invalid ID supplied"},"404":{"description":"CtgInterventionOtherNames not found"}}}},"/nc/api_qhm6/api/v1/CtgInterventionOtherNames/findOne":{"get":{"tags":["CtgInterventionOtherNames"],"summary":"Get first one from filtered data","description":"","operationId":"findOneCtgInterventionOtherNames","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"query","name":"fields","type":"string","description":"Comma separated fields from the model"},{"in":"query","name":"where","type":"string","description":"Where expression"},{"in":"query","name":"limit","description":"Page size limit","type":"integer","format":"int64"},{"in":"query","name":"offset","description":"Pagination offset","type":"integer","format":"int64"},{"in":"query","name":"sort","description":"Comma separated sort fields","type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/CtgInterventionOtherNames"}},"405":{"description":"Invalid input"}}}},"/nc/api_qhm6/api/v1/CtgInterventionOtherNames/{CtgInterventionOtherNamesId}/exists":{"get":{"tags":["CtgInterventionOtherNames"],"summary":"Check CtgInterventionOtherNames with provided ID exists","description":"Returns a single CtgInterventionOtherNames","operationId":"checkCtgInterventionOtherNamesExists","produces":["application/json"],"parameters":[{"name":"CtgInterventionOtherNamesId","in":"path","description":"ID of CtgInterventionOtherNames to return. In case of composite key provide keys separated by ___","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"boolean"}}}}},"/nc/api_qhm6/api/v1/CtgInterventionOtherNames/count":{"get":{"tags":["CtgInterventionOtherNames"],"summary":"Get CtgInterventionOtherNames count","operationId":"getCtgInterventionOtherNamesCount","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"query","name":"where","type":"string","description":"Where expression"}],"responses":{"200":{"description":"successful operation","schema":{"type":"object"}},"405":{"description":"Invalid input"}}}},"/nc/api_qhm6/api/v1/CtgInterventionOtherNames/groupby":{"get":{"tags":["CtgInterventionOtherNames"],"summary":"Group by column","description":"","operationId":"CtgInterventionOtherNamesGroupByColumn","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"query","name":"column_name","type":"string","description":"Column name"},{"in":"query","name":"where","type":"string","description":"Where expression"},{"in":"query","name":"limit","description":"Page size limit","type":"integer","format":"int64"},{"in":"query","name":"offset","description":"Pagination offset","type":"integer","format":"int64"},{"in":"query","name":"sort","description":"Comma separated sort fieldst","type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/CtgInterventionOtherNames"}},"405":{"description":"Invalid input"}}}},"/nc/api_qhm6/api/v1/CtgInterventionOtherNames/distribution":{"get":{"tags":["CtgInterventionOtherNames"],"summary":"","description":"","operationId":"CtgInterventionOtherNamesDistribution","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"query","name":"column_name","type":"string","description":"Column name"},{"in":"query","name":"min","description":"min value","type":"integer","format":"int64"},{"in":"query","name":"max","description":"max value","type":"integer","format":"int64"},{"in":"query","name":"step","description":"step value","type":"integer","format":"int64"},{"in":"query","name":"steps","description":"steps value","type":"integer","format":"int64"},{"in":"query","name":"func","description":"comma separated aggregation functions","type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"type":"object"}}},"405":{"description":"Invalid input"}}}},"/nc/api_qhm6/api/v1/CtgInterventionOtherNames/distinct":{"get":{"tags":["CtgInterventionOtherNames"],"summary":"Get first one from filtered data","description":"","operationId":"CtgInterventionOtherNamesDistinct","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"query","name":"column_name","type":"string","description":"Column name"},{"in":"query","name":"where","type":"string","description":"Where expression"},{"in":"query","name":"limit","description":"Page size limit","type":"integer","format":"int64"},{"in":"query","name":"offset","description":"Pagination offset","type":"integer","format":"int64"},{"in":"query","name":"sort","description":"Comma separated sort fields","type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"type":"object"}}},"405":{"description":"Invalid input"}}}},"/nc/api_qhm6/api/v1/CtgInterventionOtherNames/aggregate":{"get":{"tags":["CtgInterventionOtherNames"],"summary":"Get first one from filtered data","description":"","operationId":"CtgInterventionOtherNamesAggregate","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"query","name":"column_name","type":"string","description":"Column name"},{"in":"query","name":"func","type":"string","description":"Comma separated aggregate functions"},{"in":"query","name":"having","type":"string","description":"Having expression"},{"in":"query","name":"fields","type":"string","description":"Comma separated fields from the model"},{"in":"query","name":"limit","description":"Page size limit","type":"integer","format":"int64"},{"in":"query","name":"offset","description":"Pagination offset","type":"integer","format":"int64"},{"in":"query","name":"sort","description":"Comma separated sort fields","type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/CtgInterventionOtherNames"}},"405":{"description":"Invalid input"}}}},"/nc/api_qhm6/api/v1/CtgInterventions":{"post":{"tags":["CtgInterventions"],"summary":"Add a new CtgInterventions","description":"","operationId":"addCtgInterventions","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"CtgInterventions object that needs to add","required":true,"schema":{"$ref":"#/definitions/CtgInterventions"}}],"responses":{"405":{"description":"Invalid input"}}},"get":{"tags":["CtgInterventions"],"summary":"Get list","description":"","operationId":"getCtgInterventions","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"query","name":"fields","type":"string","description":"Comma separated fields from the model"},{"in":"query","name":"bt","type":"string","description":"Comma separated parent table names(Belongs To)"},{"in":"query","name":"hm","type":"string","description":"Comma separated child table names(Has Many)"},{"in":"query","name":"mm","type":"string","description":"Comma separated child table names(Many to Many)"},{"in":"query","name":"where","type":"string","description":"Where expression"},{"in":"query","name":"limit","description":"Page size limit","type":"integer","format":"int64"},{"in":"query","name":"offset","description":"Pagination offset","type":"integer","format":"int64"},{"in":"query","name":"sort","description":"Comma separated sort fields","type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"$ref":"#/definitions/CtgInterventionsNested"}}},"405":{"description":"Invalid input"}}}},"/nc/api_qhm6/api/v1/CtgInterventions/{CtgInterventionsId}":{"get":{"tags":["CtgInterventions"],"summary":"Find CtgInterventions by ID","description":"Returns a single CtgInterventions","operationId":"getCtgInterventionsById","produces":["application/json"],"parameters":[{"name":"CtgInterventionsId","in":"path","description":"ID of CtgInterventions to return. In case of composite key provide keys separated by ___","required":true,"type":"string"},{"in":"query","name":"bt","type":"string","description":"Comma separated parent table names(Belongs To)"},{"in":"query","name":"hm","type":"string","description":"Comma separated child table names(Has Many)"},{"in":"query","name":"mm","type":"string","description":"Comma separated child table names(Many to Many)"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/CtgInterventionsNested"}},"400":{"description":"Invalid ID supplied"},"404":{"description":"CtgInterventions not found"}}},"put":{"tags":["CtgInterventions"],"summary":"Updates a CtgInterventions","description":"","operationId":"updateCtgInterventions","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"CtgInterventionsId","in":"path","description":"ID of CtgInterventions to return. In case of composite key provide keys separated by ___","required":true,"type":"string"},{"in":"body","name":"body","description":"CtgInterventions object that needs to be added to the store","required":true,"schema":{"$ref":"#/definitions/CtgInterventions"}}],"responses":{"405":{"description":"Invalid input"}}},"delete":{"tags":["CtgInterventions"],"summary":"Deletes a CtgInterventions","description":"","operationId":"deleteCtgInterventions","produces":["application/json"],"parameters":[{"name":"CtgInterventionsId","in":"path","description":"ID of CtgInterventions to return. In case of composite key provide keys separated by ___","required":true,"type":"string"}],"responses":{"400":{"description":"Invalid ID supplied"},"404":{"description":"CtgInterventions not found"}}}},"/nc/api_qhm6/api/v1/CtgInterventions/bulk":{"post":{"tags":["CtgInterventions"],"summary":"Bulk CtgInterventions insert","description":"","operationId":"bulkCtgInterventionsInsert","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"CtgInterventions objects","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/CtgInterventions"}}}],"responses":{"405":{"description":"Invalid input"}}},"put":{"tags":["CtgInterventions"],"summary":"Updates a CtgInterventions","description":"","operationId":"updateCtgInterventions","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"CtgInterventions objects with id","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/CtgInterventions"}}}],"responses":{"405":{"description":"Invalid input"}}},"delete":{"tags":["CtgInterventions"],"summary":"Deletes a CtgInterventions","description":"","operationId":"deleteCtgInterventions","produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"CtgInterventions objects contains id","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/CtgInterventions"}}}],"responses":{"400":{"description":"Invalid ID supplied"},"404":{"description":"CtgInterventions not found"}}}},"/nc/api_qhm6/api/v1/CtgInterventions/findOne":{"get":{"tags":["CtgInterventions"],"summary":"Get first one from filtered data","description":"","operationId":"findOneCtgInterventions","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"query","name":"fields","type":"string","description":"Comma separated fields from the model"},{"in":"query","name":"where","type":"string","description":"Where expression"},{"in":"query","name":"limit","description":"Page size limit","type":"integer","format":"int64"},{"in":"query","name":"offset","description":"Pagination offset","type":"integer","format":"int64"},{"in":"query","name":"sort","description":"Comma separated sort fields","type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/CtgInterventions"}},"405":{"description":"Invalid input"}}}},"/nc/api_qhm6/api/v1/CtgInterventions/{CtgInterventionsId}/exists":{"get":{"tags":["CtgInterventions"],"summary":"Check CtgInterventions with provided ID exists","description":"Returns a single CtgInterventions","operationId":"checkCtgInterventionsExists","produces":["application/json"],"parameters":[{"name":"CtgInterventionsId","in":"path","description":"ID of CtgInterventions to return. In case of composite key provide keys separated by ___","required":true,"type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"boolean"}}}}},"/nc/api_qhm6/api/v1/CtgInterventions/count":{"get":{"tags":["CtgInterventions"],"summary":"Get CtgInterventions count","operationId":"getCtgInterventionsCount","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"query","name":"where","type":"string","description":"Where expression"}],"responses":{"200":{"description":"successful operation","schema":{"type":"object"}},"405":{"description":"Invalid input"}}}},"/nc/api_qhm6/api/v1/CtgInterventions/groupby":{"get":{"tags":["CtgInterventions"],"summary":"Group by column","description":"","operationId":"CtgInterventionsGroupByColumn","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"query","name":"column_name","type":"string","description":"Column name"},{"in":"query","name":"where","type":"string","description":"Where expression"},{"in":"query","name":"limit","description":"Page size limit","type":"integer","format":"int64"},{"in":"query","name":"offset","description":"Pagination offset","type":"integer","format":"int64"},{"in":"query","name":"sort","description":"Comma separated sort fieldst","type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/CtgInterventions"}},"405":{"description":"Invalid input"}}}},"/nc/api_qhm6/api/v1/CtgInterventions/distribution":{"get":{"tags":["CtgInterventions"],"summary":"","description":"","operationId":"CtgInterventionsDistribution","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"query","name":"column_name","type":"string","description":"Column name"},{"in":"query","name":"min","description":"min value","type":"integer","format":"int64"},{"in":"query","name":"max","description":"max value","type":"integer","format":"int64"},{"in":"query","name":"step","description":"step value","type":"integer","format":"int64"},{"in":"query","name":"steps","description":"steps value","type":"integer","format":"int64"},{"in":"query","name":"func","description":"comma separated aggregation functions","type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"type":"object"}}},"405":{"description":"Invalid input"}}}},"/nc/api_qhm6/api/v1/CtgInterventions/distinct":{"get":{"tags":["CtgInterventions"],"summary":"Get first one from filtered data","description":"","operationId":"CtgInterventionsDistinct","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"query","name":"column_name","type":"string","description":"Column name"},{"in":"query","name":"where","type":"string","description":"Where expression"},{"in":"query","name":"limit","description":"Page size limit","type":"integer","format":"int64"},{"in":"query","name":"offset","description":"Pagination offset","type":"integer","format":"int64"},{"in":"query","name":"sort","description":"Comma separated sort fields","type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"type":"object"}}},"405":{"description":"Invalid input"}}}},"/nc/api_qhm6/api/v1/CtgInterventions/aggregate":{"get":{"tags":["CtgInterventions"],"summary":"Get first one from filtered data","description":"","operationId":"CtgInterventionsAggregate","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"query","name":"column_name","type":"string","description":"Column name"},{"in":"query","name":"func","type":"string","description":"Comma separated aggregate functions"},{"in":"query","name":"having","type":"string","description":"Having expression"},{"in":"query","name":"fields","type":"string","description":"Comma separated fields from the model"},{"in":"query","name":"limit","description":"Page size limit","type":"integer","format":"int64"},{"in":"query","name":"offset","description":"Pagination offset","type":"integer","format":"int64"},{"in":"query","name":"sort","description":"Comma separated sort fields","type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/CtgInterventions"}},"405":{"description":"Invalid input"}}}},"/nc/api_qhm6/api/v1/CtgInterventions/belongs/QmVariables":{"get":{"tags":["CtgInterventionsBelongsToQmVariables"],"summary":"Get CtgInterventions list with QmVariables parent","description":"","operationId":"CtgInterventionsWithParent","produces":["application/json"],"parameters":[{"in":"query","name":"where","type":"String","description":"Where expression"},{"in":"query","name":"limit","description":"Page size limit","type":"integer","format":"int64"},{"in":"query","name":"offset","description":"Pagination offset","type":"integer","format":"int64"},{"in":"query","name":"sort","description":"Sort parameter","type":"string"}],"responses":{"200":{"description":"successful operation","schema":{"type":"array","items":{"type":"object"}}}}}},"/nc/api_qhm6/api/v1/DirectusActivity":{"post":{"tags":["DirectusActivity"],"summary":"Add a new DirectusActivity","description":"","operationId":"addDirectusActivity","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"DirectusAct
[...]
